html, body {
    margin: 0;
    height: 1500px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;

}

.center {
    padding: 0 150px;
    flex-grow: 5;
}

/* #region Header-Footer */
.header, .footer {
    padding: 0 150px;
    flex-basis: 60px;
    align-items: center;
    text-align: center;
    display: flex;
}

.header, .footer, .one {
    background-color: #1f2937;
}

.header {
    gap: 40px;
}

.footer {
    justify-content: center;
}

.h-logo {
    margin-right: auto;
    color: #f9faf8;
    font-size: 24px;
}

.h-img {
    height: auto;
    width: 350px;
}

.h-item, .subtext, .footer {
    color: #E5E7EB;
    font-size: 18px;
}

.one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.one-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

button {
    color: #E5E7EB;
    background: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: bold;
}
/* #endregion */

/* #region ContentTwo */
.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.images > div {
    flex-basis: 120px;
    text-align: center;
}

.emoji {
    width: 120px;
    height: auto;
}

.heading{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}
/* #endregion */

.three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.credit {
    align-self: flex-end;
    font-weight: 900;
}

a {
    color: inherit;
    text-decoration: none;
}